<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
<p th:text="'Hello !'" />
<div id="error_box"></div>
<form>
    <input name="username" id="username"/>
    <input type="password" name="password" id="password">
    <button onclick="login()"> 登录 </button>
    <div>
        <a href="/user/toRegister" target="_blank"> 免费注册 </a>
    </div>
</form>
</body>

</html>